:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 440px;
}

.h1 {
  margin-bottom: 44px;
}

.btn {
  margin-top: 16px;
}

.password-input {
  position: relative;
}

.password-eye-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 12px;
  background: none;
  border: none;
  color: #ffffffbf;
  cursor: pointer;
  transition: all 0.3s ease;
}

.password-eye-btn.active {
  color: var(--primary-color);
}
